<html>
    <body>
        <p>
            <h1>administrator page</h1><br>
            <a href="/group_module/group_display">modify_group</a><br>
            <a href="/indexuser_account">show user</a><br>
            <a href="/data-analysis">show data analysis</a><br>
        </p>
        
        <tr>
	    	<form action="/back" method="GET">
			<br><button name="post_id">Back</button> 
			</form>
	  	</tr>
    </body>
</html>