<html>
    <body>
        <p>
            <h1>administrator page</h1><br>
            <a href="/group_module/group_display">modify_group</a><br>
            <a href="/indexuser_account">show user</a><br>
            <a href="/data-analysis">show data analysis</a><br>
        </p>
    </body>
</html>