<html>
    <body>
        <p1>are you sure to delete?</p1>
        <form action="/user_module/delete_account" method="GET">
				<br><button name="delete_user_id" value="<%= delete_user_id %>">Delete</button> 
		</form><br>
		<form action="/back" method="GET">
				<br><button name="post_id">Back</button> 
		</form>
    </body>
</html>