<html>
<body>
    <h1>It's just loading.</h1>
<Script Language="JavaScript">
setTimeout("location.href='/login-system/logincheck?email=<%= email %>&password=<%= password %>'",5);
</Script>
</body>
</html>