<!DOCTYPE html>
<html>
<head>
<title>Teamder homepage</title>
</head>
<body>

<h1>This is a Heading</h1>
<p>This is a paragraph.</p>
<a href="all.html">All</a>
<a href="football.html">Football</a>
<a href="basketball.html">Basketball</a>
<a href="user_information.html">User infomration</a>
<a href="input.html">log out</a>
</body>
</html>