.card{
    position: relative;
    width: 18rem;
}

.container-fluid{
        min-width: 992px;
        max-width: 1200px;
}

.sorting{
    display: flex;
}

.embed-responsive{
    height: 12rem;
}
.embed-responsive .card-img-top {
    object-fit: cover;
}

.card{
    height: 30rem;
}
